@font-face {
  font-family: "miama";
  src: url(font/Miama.ttf);
}
@font-face {
  font-family: "inter";
  src: url(font/Inter-Regular.otf);
}
@font-face {
  font-family: "inter-bold";
  src: url(font/Inter-Bold.otf);
}
@font-face {
  font-family: "inter-bold-italic";
  src: url(font/Inter-BoldItalic.otf);
}

* {
  font-family: inter;
  color: #fff;
  margin: 0%;
  padding: 0%;
}
:root {
  --orange: rgb(230, 83, 60);
  --lightgray: rgba(255, 255, 255, 0.5);
  --gray: rgb(34, 34, 34);
}
/* shared style  */
body {
  background: #000;
}
a {
  text-decoration: none;
  color: #fff;
}
p,
h4 {
  color: var(--lightgray);
  font-size: 1em;
}
h1 {
  font-weight: 800px;
  font-size: 250%;
}

.btn {
  padding: 16px 20px;
  background-color: var(--orange);
  color: #fff;
  border: none;
  border-radius: 24px;
  min-width: 10em;
}
.logo-text i {
  color: var(--orange);
}
.section-header {
  text-align: center;
  margin: 5% 20%;
}
/* container  */
.parent-container {
  display: flex;
  gap: 10%;
  margin: 5% 10%;
  background: var(--gray);
  border-radius: 24px;
  padding: 2% 2% 2% 4%;
}
/* nav  */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
}

.nav ul {
  display: flex;
  gap: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 40px 10px 0px;
  border-radius: 24px;
  align-items: center;
}
.nav ul li {
  list-style: none;
  padding: 5px;
}
.nav ul li:first-child {
  padding-left: 0px;
}
.nav ul li:last-child {
  padding-right: 10%;
}
.nav ul li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.nav .nav-activated {
  background-color: var(--orange);
  border-radius: 24px;
  padding: 15px 20px;
}
.sidebar-bars {
  background: none;
  border: none;
  font-size: 150%;
  display: none;
  cursor: pointer;
}
/* header  */
header {
  background: radial-gradient(rgb(46, 46, 46), rgba(119, 119, 119, 0));
}
.header-content {
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: center;
}
.header-content-left {
  width: 300px;
  margin-left: 10%;
  margin-right: 13%;
  margin-top: 10%;
  color: #fff;
}
.header-content-left h1 {
  font-size: 300%;
  font-weight: 900;
  margin: 2%;
  line-height: 0.8;
}
.header-content-left h1 span {
  font-family: miama;
  font-size: 200%;
  font-weight: 500;
}
.header-btn {
  margin-top: 5%;
  display: flex;
}
.btn1 {
  background: transparent;
  border: 1px solid #fff;
}
.header-content-right {
  position: static;
}
.header-img {
  position: relative;
  overflow: hidden;
}
.badge {
  position: absolute;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 5%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
}
.video-counts {
  right: 2%;
  top: 30%;
}
.tutorial-counts {
  right: 60%;
  top: 70%;
  display: flex;
  width: 50%;
  gap: 10px;
  align-items: center;
}
.circle {
  background-color: var(--orange);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
}
/* habit changes  */
.habit-container img {
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.1);
}
.habit-container {
  text-align: center;
  width: 250px;
}
.habit-parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin: 0em 2em;
}
/* extra miles  */
.parent-container {
  align-items: center;
  justify-content: center;
}
.container-right-img {
  width: 400px;
  height: 310px;
  background: url(images/run.jpg);
  background-position: -800px -200px;
  border-radius: 24px;
}
.container-left-content {
  min-width: 15em;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-left-content .btn {
  margin-top: 5%;
  max-width: 30%;
}
/* bmi calculator  */
#bmi {
  background: var(--gray);
}
.bmi-top {
  margin: 10% 30% 10% 20%;
}
td,
th {
  border: 1px solid var(--lightgray);
  padding: 2%;
  height: 30px;
  width: 150px;
  color: var(--lightgray);
}
table {
  border-collapse: collapse;
  margin-top: 2%;
}
.bmi-table {
  margin: 0% 10% 10% 10%;
}

/* bmi main  */
.bmi-main {
  display: flex;
  gap: 5%;
}
.bmi-calculator,
.bmi-table {
  margin-top: 10%;
}
/* bmi calculator  */
.bmi-calculator-header {
  max-width: 70%;
}

.bmi-calculator input,
.bmi-calculator select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 17px;
  margin: 7px;
  border-radius: 8px;
  width: 13em;
}
.bmi-calculator input:focus,
.bmi-calculator select:focus {
  outline: none;
}
.bmi-calculator input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.bmi-calculator select option {
  color: #000000;
}
.bmi-calculator select {
  width: 12em;
}
.single-select {
  width: 25.5em !important;
}
.inline-form {
  flex-wrap: nowrap;
  display: inline-flex;
  flex-direction: column;
}
.inline-form input {
  width: 9.5em;
}
.bmi-btn {
  display: block;
  margin: 1em;
}
/* Pricing  */
.pricing-parent-container {
  display: flex;
  justify-content: space-around;
}
.pricing-container {
  background: var(--gray);
  border-radius: 24px;
  width: 300px;
  height: 350px;
  margin-top: 10%;
  position: relative;
}
.pricing-container ul {
  padding-left: 30px;
}
.pricing-container ul li {
  padding: 2% 2% 2% 0%;
}
.pricing-container ul .btn {
  width: 80%;
  margin: 10% 10% 10% 0%;
}
.pricing-container ul h2 {
  padding: 15% 0% 0% 0%;
}
.name-price {
  padding-bottom: 10%;
}
.pricing-container ul li {
  list-style: none;
  color: var(--lightgray);
}
/* team  */
.parent-container-img {
  display: block;
}
.first-part-img-container,
.second-part-img-container {
  display: flex;
  gap: 2%;
  margin-bottom: 2%;
  align-items: center;
  justify-content: center;
}
.img-container {
  width: 300px;
  height: 300px;
  border-radius: 24px;
}
.img-container-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/trainer1.png);
}
.img-container-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/trainer2.png);
}
.img-container-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/trainer3.png);
}
.img-container-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/trainer4.png);
  background-size: 170% !important;
}
.img-container-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/trainer5.png);
}
.img-container-6 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/trainer6.png);
}
.img-container {
  background-position: center;
  background-size: 120%;

  overflow: hidden;
  background-repeat: no-repeat;
  position: relative;
}
/* text  */
.img-container-text {
  position: absolute;
  bottom: 5%;
  left: 5%;
}
/* footer  */
footer {
  background: var(--gray);
}
/* footer li  */
.footer-ul {
  display: flex;
  flex-direction: column;
}
.footer-ul li a {
  color: var(--lightgray);
}
.footer-ul h2 {
  padding-bottom: 30%;
}
.footer-ul li {
  list-style: none;
  padding-bottom: 15%;
}
.footer-ul a:hover {
  text-decoration: underline;
}
.footer-uls {
  display: flex;
  gap: 100px;
}
.footer-content {
  display: flex;
  gap: 150px;
  padding: 5% 10%;
}
/* footer copy  */
hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 10px;
}
.ftr-copy-p {
  padding: 2%;
  text-align: center;
}
/* responsive  */

@media screen and (max-width: 576px) {
  /* display-column  */
  .header-content {
    flex-direction: column;
  }
  .parent-container {
    flex-direction: column;
  }

  /* nav  */
  .sidebar-bars {
    display: block;
  }
  .nav ul {
    display: none;
  }
  /* header  */

  .video-counts {
    right: 20%;
  }
  .tutorial-counts {
    right: 30%;
    top: 70%;
    display: flex;
    width: 50%;
    gap: 10px;
    align-items: center;
  }
  /* run-more  */
  .container-right-img {
    width: 250px;
    height: 300px;
    margin-top: 5%;
    background-position: -800px -190px;
  }
}
@media screen and (max-width: 992px) {
  /* header  */
  .header-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* BMI  */
  .bmi-main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bmi-calculator {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .inline-form {
    display: flex;
    flex-direction: row;
  }
  /* pricing  */
  .pricing-parent-container {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  /* footer  */
  .footer-content {
    flex-direction: column;
  }
  .footer-uls {
    flex-direction: column;
  }
  .footer-ul li {
    padding-bottom: 5%;
  }
  .footer-ul h2 {
    padding-bottom: 5%;
  }
  /* team  */
  .first-part-img-container,
  .second-part-img-container {
    flex-direction: column;
  }
  .img-container {
    width: 250px;
    height: 250px;
    border-radius: 24px;
  }
}
